<!-- Not 100% sure why but styling these to be size flexible has been a pain. Might be due to viewport. Assuming for now this will be 200px wide - .25em of padding -->
<div class="submission-posting-info-container d-flex" [matTooltip]="submission.formData.websites.join(', ')" matTooltipPosition="right">
  <div class="img mr-1">
    <img *ngIf="submission.submissionType === 'SUBMISSION'" [src]="submission.id | thumbnail: 'PRIMARY' | async | objectURL: '50' | safe" [alt]="submission.fileInfo.name" [title]="submission.fileInfo.name">
    <mat-icon *ngIf="submission.submissionType === 'JOURNAL'">comment</mat-icon>
  </div>
  <div class="w-100">
    <div class="w-100 title-bar">
      <div class="text-truncate title" [title]="submission.title || 'Untitled'">{{ submission.title || 'Untitled' }}</div>
      <div class="close-btn" (click)="cancel()">
        <mat-icon class="warn-text">close</mat-icon>
      </div>
    </div>
    <div class="row no-gutters" *ngIf="!submission.isScheduled && submissionPacket">
      <mat-progress-bar class="w-100" color="accent" mode="determinate" [value]="getProgress()"></mat-progress-bar>
      <div class="w-100" *ngFor="let packet of submissionPacket.getUnfilteredPackets()" [class.bg-success]="packet.status === 'COMPLETE'" [class.bg-danger]="packet.status === 'FAILED'" [class.bg-warning]="packet.status === 'CANCELLED'">
        <span class="posting-website"><strong>{{ packet.website | websiteDisplayname }}</strong></span>
        <span *ngIf="packet.status === 'WAITING'" class="status-info text-info">
          <span *ngIf="packet.postingTime"> {{ packet.postingTime | date:'shortTime' }}</span>
          <span *ngIf="!packet.postingTime"> {{ 'WAITING' | translate | titlecase }}</span>
        </span>
        <span class="status-info" *ngIf="packet.status !== 'WAITING'">
          {{ packet.status | translate | titlecase }}
        </span>
      </div>
    </div>

    <div class="row no-gutters" *ngIf="submission.isScheduled">
      <div class="w-100 status text-info">
        <span>@ {{ submission.schedule | date:'short' }}</span>
      </div>
    </div>
  </div>
</div>
